//Footer section

.site-footer {
    padding: 30px 0;
    background-color: rgb(27, 38, 47);
    background-image: url("../images/footer-bg.png");
    background-repeat: no-repeat;
    background-position: calc(50% + 565px) 0;
  }
  .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .footer__content-wrapper {
    display: flex;
    align-items: center;
    gap: 64px;
  }
  
  .footer__list {
    display: flex;
    gap: 40px;
  }
  .footer__list-link {
    color: rgb(251, 252, 254);
    font-size: 15px;
    font-weight: 700;
    opacity: 0.7;
    cursor: pointer;
    transition: all 0.3s linear;
  }
  .footer__list-link:hover {
    opacity: 1;
  }
  .footer__list-link:active {
    opacity: 1;
    color: var(--clr-red);
  }
  .footer__socials-wrapper {
    display: flex;
    align-items: center;
    gap: 24px;
  }
  .footer__socials-link {
    color: white;
    transition: color 0.3s linear;
  }
  .footer__socials-link:hover {
    color: rgb(218, 109, 151);
  }
  @media (max-width: 840px) {
    .site-footer{
      background-image: url('../images/footer-tablet-bg.png');
      background-position: right top;
    }
  }
  @media (max-width: 665px) {
    .site-footer{
      background-image: url('../images/footer-mobile-bg.png');
      background-position: center bottom;
      background-size: 100% 155px;
    }
    .footer{
      flex-direction: column;
      gap: 40px;
    }
    .footer__content-wrapper{
      flex-direction: column;
      gap: 40px;
    }
    .footer__list{
      flex-direction: column;
      gap: 31px;
    }
  }