// Site header

.header {
    display: flex;
    justify-content: space-between;
    padding: 40px 20px;
  }
  .header__content-wrapper {
    display: flex;
    align-items: center;
    gap: 64px;
  }
  .header__list {
    display: flex;
    gap: 40px;
  }
  .header__link {
    color: var(--clr-black);
    font-size: 15px;
    font-weight: 700;
    line-height: 18px;
    opacity: 0.7;
    cursor: pointer;
    transition: all 0.3s linear;
  }
  .header__link:hover {
    opacity: 1;
    color: var(--clr-red);
  }
  .header__link:active {
    opacity: 1;
    color: var(--clr-black);
  }
  .header__btn {
    color: rgb(251, 252, 254);
    font-size: 15px;
    font-weight: 700;
    padding: 16px 26px;
    border: 2px solid transparent;
    border-radius: 24px;
    box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
    background-color: var(--clr-red);
    transition: color 0.3s linear;
  }
  .header__btn:hover {
    color: rgb(186, 66, 112);
    background-color: white;
    border-color: rgb(186, 66, 112);
  }
  .header__btn:active {
    background-color: rgb(218, 109, 151);
    color: white;
    border-color: transparent;
  }
  .header__hamburger {
    display: none;
  }
  @media (max-width: 665px) {
    .header__nav,
    .header__btn {
      display: none;
    }
    .header__hamburger {
      display: block;
      background-color: transparent;
      border: none;
    }

  }